<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /E-comerce_MVC/

    # Redirecionar todas as solicitações para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>